<div>
  <h2>STUDENT FORM INPUTS</h2>
  <h4>Full Name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Student ID</h4>
  <h3>
    <%= @sid %>
  </h3>
  <h4>Year</h4>
  <h3>
    <%= @year %>
  </h3>
</div>
